<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="POST">
    
        <label for="email">EMAIL</label>
        <input type="email" placeholder="email" id="email" name="email"><br><br>
        <label for="email">PASSWORD</label>
        <input type="password" placeholder="enter your password" id="password" name="password">
    </form>
</body>
</html>